.navbar-image {
    width: 40px;
    height: 40px;
    padding: 5px;
}
.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background: #762b00;
}

#footer2 {
    background: #531f00;
}

.images {
    height:100vh
}
